<%- include('header') %>
<main class="main">   
    <section class="pt-150 pb-150">
        <div class="container">
            <div class="col-lg-10 m-auto">
                <div class="col-lg-5 mx-auto"> <!-- Added mx-auto class here -->
                    <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                        <div class="padding_eight_all bg-white">
                            <div class="d-flex justify-content-center align-items-center mb-4">
                                <div class="heading_s1 text-center">
                                    <h3>Forgot Password</h3>
                                </div>
                            </div>
                            <form class="row contact_form" method="post" action="/emailverify" onsubmit="return validate()">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter registered email">
                                    <p id="emailError"></p>
                                </div>
                                <% if (errMessage) { %>
                                    <div class="alert alert-danger text-center mt-5" role="alert">
                                        <%= errMessage %>
                                    </div>
                                <% } %>
                                
                                
                                
                                <div class="login_footer form-group">
                                    <div class="chek-form">
                                        <div class="custome-checkbox">
                                            <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="">
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="form-group text-center"> <!-- Center the button and link -->
                                    <button type="submit" class="btn btn-fill-out btn-block hover-up">SEND OTP</button>
                                </div>
                            </form>
                            
                            
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include('footer') %>



