<%- include('header') %>

<main class="main">   
    <section class="pt-150 pb-150">
        <div class="container">
            <div class="col-lg-10 m-auto">
                <div class="col-lg-5 mx-auto">
                    <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                        <div class="padding_eight_all bg-white">
                            <div class="heading_s1">
                                <h3 class="mb-30">Verify Now</h3>
                            </div>
                            <form method="post" action="/forgotPassword" method="post" onsubmit="return verifyValidate()">
                                <div class="form-group">
                                    <input type="password"  id="password" name="password" value=""
                                    placeholder="Enter New Password">
                                    <p id="passwordError"></p>
                                </div>
                                
                                <div class="form-group">
                                    <input type="password"  id="cpassword" name="cpassword" value=""
                                    placeholder="Confirm Password">
                                    <p id="cpasswordError"></p>
                                </div>
                                
                                <div class="login_footer form-group">
                                    <div class="chek-form">
                                        <div class="custome-checkbox">
                                            <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-center"> 
                                    <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">Verify</button>
                                </div>
                            </form>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include('footer') %>

<script>
    function verifyValidate(){


const password = document.getElementById('password');
const cpassword = document.getElementById('cpassword');

const passwordValue = password.value;
const cpasswordValue = cpassword.value;

const passwordError = document.getElementById('passwordError');
const cpasswordError = document.getElementById('cpasswordError');

const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$/;



//  Password Field

 if (password.value.trim() === '') {
    passwordError.innerHTML = 'Password is required'
    passwordError.style.color = 'red';
    setTimeout(() => {
       passwordError.innerHTML = ''
    }, 5000)
    return false;
 }
 if (!passwordRegex.test(password.value)) {
    passwordError.innerHTML = "Password must include 1 Capital Letter, 1 Small Letter, 1 Special Symbol, and I number, And it should be 8 letters"
    passwordError.style.color = 'red';
    setTimeout(() => {
       passwordError.innerHTML = ''
    }, 5000);
    return false;
 }

 if(passwordValue !== cpasswordValue){
    cpasswordError.innerHTML = 'Password Doesnt Match'
    cpasswordError.style.color = 'red';
    setTimeout(() => {
       passwordError.innerHTML = ''
    }, 5000)
    return false;
 }

 


}
</script>