<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:04:24 GMT -->

<head>
    <meta charset="utf-8">
    <title>Essence</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/maind134.css?v=3.4">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="calculateTotal.js"></script> <!-- Script containing calculateCurrentTotal function -->
    <script src="otherScript.js"></script> <!-- Script using calculateCurrentTotal function -->

    <style>
        .discount-row{
            display: none;
        }
        ul.pagination li {
            margin-right: 10px;
        }

        ul.pagination a {
            text-decoration: none;
            background-color: #f2f2f2;
            color: #333;
            padding: 5px 10px;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        ul.pagination a:hover {
            background-color: #333;
            color: #fff;
        }

        /* Active page link styles */
        ul.pagination a.active {
            background-color: #333;
            color: #fff;
        }


        .wallet-balance {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f2f2f2;
            /* Add your desired background color */
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            /* Add a subtle shadow */
        }

        /* Style for the wallet header */
        .wallet-header {
            flex: 1;
            /* Occupy the left side of the container */
        }

        /* Style for the wallet amount */
        .wallet-amount {
            flex: 1;
            /* Occupy the right side of the container */
            text-align: right;
        }

        /* Style for the balance amount */
        .balance-amount {
            font-size: 24px;
            /* Adjust the font size as needed */
            font-weight: bold;
            color: #007bff;
            /* Add your desired text color */
        }



        
        
    </style>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/path/to/your-script.js"></script>
    <script src="calculateTotal.js"></script>




</head>

<body>
    
    <header class="header-area header-style-1 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                            <ul>
                                <li>
                                    <a class="language-dropdown-active" href="#"> <i class="fi-rs-world"></i> English <i class="fi-rs-angle-small-down"></i></a>
                                    <ul class="language">
                                  
                                    </ul>
                                </li>
                                <ul>
                                    <% if (locals.user) { %>
                                        <li><i class="fi-rs-user"></i><a href="/logout">Log Out</a></li>
                                        <% } else { %>
                                            <li><i class="fi-rs-user"></i><a href="/login">Log In</a></li>
                                            <% } %>
                                                <li><a href="#"><span class="flaticon-user"></span></a></li>
                                                <li><a href="#"><span class="flaticon-shopping-cart"></span></a></li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block ">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="/home"><img src="assets/imgs/theme/logo.png" alt="logo"></a>
                    </div>
                    <div class="header-right">

                        <div class="search-style-1">
                            <form action="/searchProducts">

                                <input type="text" name="q" placeholder="Search for items...">
                                <button type="submit">Search</button>
                            </form>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">

                                <div class="header-action-icon-2">
                                    <a href="/wishlist">
                                        <img class="svgInject" alt="Evara"
                                            src="assets/imgs/theme/icons/icon-heart.svg">

                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/cart">
                                        <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
                                    </a>
                                </div>

                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/account">
                                        <img alt="Evara" src="assets/imgs/theme/icons/icon-user.svg">
                                    </a>
                                </div>




                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="/home"><img src="assets/imgs/theme/logo.png" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex text-center">
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul class="nav justify-content-center"> <!-- Add justify-content-center here -->
                                    <li class="nav-item">
                                        <a class="nav-link" href="/home">Home</a>
                                    </li>
                                    
                                    <li class="nav-item">
                                        <a class="nav-link" href="/shop">Shop</a>
                                    </li>
                                    
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/wishlist">
                                    <img alt="Evara" src="assets/imgs/theme/icons/icon-heart.svg">

                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/cart">
                                    <img alt="Evara" src="assets/imgs/theme/icons/icon-cart.svg">
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/account">
                                    <img alt="Evara" src="assets/imgs/theme/icons/icon-user.svg">
                                </a>
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="/"><img src="/admin/assets/imgs/theme/wristcraftslogo.png" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="/searchProducts" method="GET">
                        <input type="text" name="q" placeholder="Search for items…">
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/">Home</a>
                                
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/shop">shop</a>
                                
                            </li>
                            
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    
                    <div class="single-mobile-header-info">
                        <% if (locals.user) { %>
                            <li><a href="/logout"><p class="text-dark">Logout</p></a></li>
                        <% } else { %>
                            <li><a href="/login"><p class="text-dark">Log in</p></a></li>
                            
                        <% } %>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>


    


    