<%- include('header') %>

<div class="container mt-5 mb-5">
    <!-- Add 'mt-5' and 'mb-5' classes for more top and bottom margin -->
    <div class="card mt-5 mb-5">
        <div class="card-body mt-5 mb-5">
            <h2 class="card-title text-center">Order Placed Successfully</h2>
            <p class="card-text text-center">We have some more items you might like.</p>
            <div class="text-center">
                <a href="/shop" class="btn btn-primary">Continue Shopping</a>
            </div>
        </div>
    </div>
</div>

<%- include('footer') %>